# Python
**/__pycache__/
*.pyc
.vscode/
# Entorno virtual
venv/
.env/
.env.*
.venv/

# Datasets privados
datasets/privados/


# Pero mantener las carpetas
!src/transform/2025_2T/.gitkeep
!src/transform/consolidados/.gitkeep
# Sistema
.DS_Store