# Python
__pycache__/
*.pyc
.vscode/
# Entorno virtual
venv/
.env/
.env.*

# Datos (NO subir)
datasets/*
metadata/*

# Pero mantener las carpetas
!datasets/.gitkeep
!metadata/.gitkeep

# Sistema
.DS_Store